
{ 
"name": "pc activity",
"OHItem": "oh_item",
"RestURL": "https://openhab.example.net/rest/",
"ServerUpdateRate": 600,
"pollSec": 1,
"inactiveThreshold": 180,
"User": "user",
"Secret" : "password"
}
